<div class="p-sub-news">
  <ul class="p-sub-news__items">
    <li class="p-sub-news__item"><%- include('_p-news',{datetime:'2020-07-20', date:'2020.07.20', newsCategory:'カテゴリ', link:'#', newsTitle:'記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。'}) %></li>
    <li class="p-sub-news__item"><%- include('_p-news',{datetime:'2020-07-20', date:'2020.07.20', newsCategory:'カテゴリ', link:'#', newsTitle:'記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。'}) %></li>
    <li class="p-sub-news__item"><%- include('_p-news',{datetime:'2020-07-20', date:'2020.07.20', newsCategory:'カテゴリ', link:'#', newsTitle:'記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。'}) %></li>
    <li class="p-sub-news__item"><%- include('_p-news',{datetime:'2020-07-20', date:'2020.07.20', newsCategory:'カテゴリ', link:'#', newsTitle:'記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。'}) %></li>
    <li class="p-sub-news__item"><%- include('_p-news',{datetime:'2020-07-20', date:'2020.07.20', newsCategory:'カテゴリ', link:'#', newsTitle:'記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。'}) %></li>
    <li class="p-sub-news__item"><%- include('_p-news',{datetime:'2020-07-20', date:'2020.07.20', newsCategory:'カテゴリ', link:'#', newsTitle:'記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。'}) %></li>
    <li class="p-sub-news__item"><%- include('_p-news',{datetime:'2020-07-20', date:'2020.07.20', newsCategory:'カテゴリ', link:'#', newsTitle:'記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。'}) %></li>
    <li class="p-sub-news__item"><%- include('_p-news',{datetime:'2020-07-20', date:'2020.07.20', newsCategory:'カテゴリ', link:'#', newsTitle:'記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。'}) %></li>
    <li class="p-sub-news__item"><%- include('_p-news',{datetime:'2020-07-20', date:'2020.07.20', newsCategory:'カテゴリ', link:'#', newsTitle:'記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。'}) %></li>
    <li class="p-sub-news__item"><%- include('_p-news',{datetime:'2020-07-20', date:'2020.07.20', newsCategory:'カテゴリ', link:'#', newsTitle:'記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。'}) %></li>
  </ul>
</div>
