<a href="<%= link %>" class="p-works-card">
  <div class="p-works-card__image">
    <img src="<%= imgSrc %>" alt="<%= imgAlt %>">
    <div class="p-works-card__label"><%= category %></div>
  </div>
  <div class="p-works-card__title"><%= title %></div>
</a>