<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>
  <body>
    <%- include('./common/_top-header') %>
    <%- include('./common/_p-header-nav') %>
    
    <%- include('./component/_c-btn',{text:'詳しく見る', link:'#', btntype:'normal'}) %>
    <%- include('./component/_c-btn',{text:'すべて見る', link:'#', btntype:'pcSmall'}) %>
    <%- include('./component/_c-btn',{text:'送信', link:'#', btntype:'submit'}) %>
      <%- include('./component/_c-logo') %>
      <%- include('./component/_c-hamburger') %>

    <%- include('./common/_footer') %>


    <% for (var i=0; i < 4; i++) { %>
      <%- include('./component/_c-btn',{text:'これはテストです', link:'#', btntype:'normal'}) %>
      <% } %>

<div class="c-top-btn">
  <a href="#"></a>
</div>
  </body>
</html>
