<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>

<body>
  <header class="l-header">
    <%- include('./common/_p-header') %>
  </header>
  <%- include('./project/_p-sub-mv',{pageTitle:'お問い合わせ'}) %>

  <div class="l-breadcrumb">
    <%- include('./project/_p-breadcrumb',{link:'#', seccondPage:'お問い合わせ', thirdPage:''}) %>
  </div>

  <main class="p-sub-contact__main">
    <div class="p-sub-contact__inner l-inner">
      <div class="p-sub-contact__content">
        <div class="p-sub-contact__head">
          <p class="p-sub-contact__title">※会社名・団体名</p>
        </div>
        <div class="p-sub-contact__item p-contact-text">
          <input class="p-contact-text__text" type="text" placeholder="テキストがはいります">
        </div>
      </div>
      <div class="p-sub-contact__content">
        <div class="p-sub-contact__head">
          <p class="p-sub-contact__title">※部署名</p>
        </div>
        <div class="p-sub-contact__item p-contact-text">
          <input class="p-contact-text__text" type="text" placeholder="テキストがはいります">
        </div>
      </div>
      <div class="p-sub-contact__content">
        <div class="p-sub-contact__head">
          <p class="p-sub-contact__title">※お名前</p>
        </div>
        <div class="p-sub-contact__item p-contact-text">
          <input class="p-contact-text__text" type="text" placeholder="テキストがはいります">
        </div>
      </div>
      <div class="p-sub-contact__content">
        <div class="p-sub-contact__head">
          <p class="p-sub-contact__title">※ふりがな</p>
        </div>
        <div class="p-sub-contact__item p-contact-text">
          <input class="p-contact-text__text" type="text" placeholder="テキストがはいります">
        </div>
      </div>
      <div class="p-sub-contact__content">
        <div class="p-sub-contact__head">
          <p class="p-sub-contact__title">※メールアドレス</p>
        </div>
        <div class="p-sub-contact__item p-contact-text">
          <input class="p-contact-text__text" type="email" placeholder="テキストがはいります">
        </div>
      </div>
      <div class="p-sub-contact__content">
        <div class="p-sub-contact__head">
          <p class="p-sub-contact__title">※お問い合わせ内容</p>
        </div>
        <div class="p-sub-contact__item p-contact-textarea">
          <textarea class="p-contact-textarea__text" placeholder="テキストがはいります"></textarea>
        </div>
      </div>
      <div class="p-sub-contact__btn">
        <%- include('./component/_c-btn',{text:'送信', link:'#', btntype:'submit'}) %>
      </div>

    </div>
  </main>

  <div class="l-footer">
    <%- include('./common/_p-footer') %>
  </div>

  <div class="l-top-btn">
    <%- include('./component/_c-top-btn') %>
  </div>
</body>

</html>