<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head') %>
  <body>
    <header class="l-header">
      <%- include('./common/_p-header') %>
    </header>
  <%- include('./project/_p-sub-mv',{pageTitle:'ブログ'}) %>

  <div class="l-breadcrumb">
      <%- include('./project/_p-breadcrumb',{link:'#', seccondPage:'ブログ記事一覧', thirdPage:''}) %>
  </div>

  <main class="p-sub-blog-archive__main">
    <div class="p-sub-blog-archive__inner l-inner">
        <%- include('./project/_p-category') %>
      <ul class="p-sub-blog-archive__list u-mobile">
        <%- include('./project/_p-cards',{cardType:'small', numberNew:'1', number:'8'}) %>
      </ul>
      <ul class="p-sub-blog-archive__list u-desktop">
        <%- include('./project/_p-cards',{cardType:'small', numberNew:'', number:'9'}) %>
      </ul>
      <div class="l-pager">
        <%- include('./project/_p-pager') %>
      </div>
    </div>
  </main>

  <div class="l-contact">
    <%- include('./project/_p-contact') %>
  </div>
  
  <%- include('./common/_p-footer') %>
</body>
</html>