<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>

<body>
  <header class="l-header">
    <%- include('./common/_p-header') %>
  </header>

  <div class="l-breadcrumb l-breadcrumb--detail">
    <%- include('./project/_p-breadcrumb',{link:'#', seccondPage:'ブログ記事一覧', thirdPage:'ブログ記事詳細'}) %>
  </div>

  <article class="p-sub-blog-detail__blog-article p-blog-article ">
    <div class="p-blog-article__inner l-inner l-inner--small">
      <h1 class="p-blog-article__title">
        タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。
      </h1>
      <div class="p-blog-article__information p-information">
        <time class="p-information__date" datetime="2020-06-13">2020/06/13</time>
        <div class="p-information__category">カテゴリ１</div>
      </div>
      <figure class="p-blog-article__image">
        <img src="./images/blog/detail/detail001-image01.jpg" alt="">
      </figure>
      <p class="p-blog-article__text">
        テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
      </p>
      <h2 class="p-blog-article__heading2">見出し2</h2>
      <p class="p-blog-article__text">
        テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
      </p>
      <h3 class="p-blog-article__heading3">見出し3見出し3見出し3</h3>
      <p class="p-blog-article__text">
        テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
      </p>
      <figure class="p-blog-article__image">
        <img src="./images/blog/detail/detail001-image02.jpg" alt="">
      </figure>
      <ul class="p-blog-article__unordered-list">
        <li class="p-blog-article__unordered-item">リストが入ります。リストが入ります。リストが入ります。リストが入ります。</li>
        <li class="p-blog-article__unordered-item">リストが入ります。リストが入ります。リストが入ります。リストが入ります。</li>
        <li class="p-blog-article__unordered-item">リストが入ります。リストが入ります。リストが入ります。リストが入ります。</li>
        <li class="p-blog-article__unordered-item">リストが入ります。リストが入ります。リストが入ります。リストが入ります。</li>
      </ul>
      <ol class="p-blog-article__ordered-list">
        <li class="p-blog-article__ordered-item">リストが入ります。リストが入ります。リストが入ります。リストが入ります。</li>
        <li class="p-blog-article__ordered-item">リストが入ります。リストが入ります。リストが入ります。リストが入ります。</li>
        <li class="p-blog-article__ordered-item">リストが入ります。リストが入ります。リストが入ります。リストが入ります。</li>
        <li class="p-blog-article__ordered-item">リストが入ります。リストが入ります。リストが入ります。リストが入ります。</li>
      </ol>
    </div>
  </article>

  <div class="l-pager">
    <%- include('./project/_p-pager2') %>
  </div>

  <section class="l-relatives">
    <%- include('./project/_p-relatives') %>
  </section>

  <div class="l-contact">
    <%- include('./project/_p-contact') %>
  </div>

  <%- include('./common/_p-footer') %>

</body>
</html>