<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>

<body>
  <header class="l-header">
    <%- include('./common/_p-header') %>
  </header>

  <%- include('./project/_p-sub-mv',{pageTitle:'ブログ'}) %>

  <div class="l-breadcrumb">
    <%- include('./project/_p-breadcrumb',{link:'#', seccondPage:'ブログ記事一覧', thirdPage:''}) %>
  </div>

  <section class="l-sub-blog-archive">
    <%- include('./project/_p-sub-blog-archive') %>
  </section>

  <div class="l-contact">
    <%- include('./project/_p-contact') %>
  </div>

  <%- include('./common/_p-footer') %>

</body>
</html>