<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>

<body>
  <header class="l-header">
    <%- include('./common/_p-header') %>
  </header>

  <div class="l-breadcrumb l-breadcrumb--detail">
    <%- include('./project/_p-breadcrumb',{link:'#', seccondPage:'ブログ記事一覧', thirdPage:'ブログ記事詳細'}) %>
  </div>

  <article class="l-blog-article">
    <%- include('./project/_p-blog-article') %>

  </article>

  <article class="l-pager">
    <%- include('./project/_p-pager2') %>
  </article>

  <section class="l-relatives">
    <%- include('./project/_p-relatives') %>
  </section>

  <div class="l-contact">
    <%- include('./project/_p-contact') %>
  </div>

  <%- include('./common/_p-footer') %>

</body>
</html>