<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>

<body>
  <header class="l-header">
    <%- include('./common/_p-header') %>
  </header>

  <div class="l-breadcrumb l-breadcrumb--detail">
    <%- include('./project/_p-breadcrumb',{link:'#', seccondPage:'制作実績', thirdPage:'制作実績詳細'}) %>
  </div>

  <section class="l-sub-works-detail">
    <%- include('./project/_p-sub-works-detail') %>
  </section>

  <div class="l-pager">
    <%- include('./project/_p-pager2') %>
  </div>

  <section class="l-relatives">
    <%- include('./project/_p-relatives') %>
  </section>

  <div class="l-contact">
    <%- include('./project/_p-contact') %>
  </div>

  <%- include('./common/_p-footer') %>
  
</body>
</html>