<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>
  <body>

    <p>component/_c-logo</p>
    <%- include('./component/_c-logo') %>
    
    <p>component/_c-top-btn</p>
    <%- include('./component/_c-top-btn') %>

    <p>project/_p-category</p>
    <%- include('./project/_p-category') %>
        
    <p>project/_p-pager</p>
    <%- include('./project/_p-pager') %>

    <%#
     下記パーツはまだマージしていないので、エラーが出ないようにコメントアウトしています
     パーツ完成後に、"%#" → "%-"に修正
     %>
    
    <p>component/_c-section-title</p>
    <%- include('./component/_c-section-title',{ja:'事業内容', en:'Content'}) %>

    <p>common/_p-footer-nav</p>
    <%- include('./common/_p-footer-nav') %>

    

  </body>
</html>
