<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>
  <body>
    <p>component/_c-btn btntype:'normal'</p>
    <%- include('./component/_c-btn',{text:'詳しく見る', link:'#', btntype:'normal'}) %>

    <p>component/_c-btn btntype:'pcSmall'</p>
    <%- include('./component/_c-btn',{text:'すべて見る', link:'#', btntype:'pcSmall'}) %>

    <p>component/_c-btn btntype:'submit'</p>
    <%- include('./component/_c-btn',{text:'送信', link:'#', btntype:'submit'}) %>

    <p>component/_c-hamburger</p>
    <%- include('./component/_c-hamburger') %>
    
    <p>common/_p-header-nav（SPのみ表示）</p>
    <p>表示非表示やz-index、position:fixedなどの記述は呼び出し元のp-headerで指定をお願いします。</p>
    <%- include('./common/_p-header-nav') %>
      
    <p>project/_p-breadcrumb</p>
    <%- include('./project/_p-breadcrumb',{link:'#', seccondPage:'制作実績', thirdPage:''}) %>
    <%- include('./project/_p-breadcrumb',{link:'#', seccondPage:'制作実績', thirdPage:'制作実績詳細'}) %>
      
    <p>common/_footer</p>
    <%- include('./common/_footer') %>



  <a href="#"></a>
</div>
  </body>
</html>
