<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>
  <body>
    <p>component/_c-btn btntype:'normal'</p>
    <%- include('./component/_c-btn',{text:'詳しく見る', link:'#', btntype:'normal'}) %>

    <p>component/_c-btn btntype:'pcSmall'</p>
    <%- include('./component/_c-btn',{text:'すべて見る', link:'#', btntype:'pcSmall'}) %>

    <p>component/_c-btn btntype:'submit'</p>
    <%- include('./component/_c-btn',{text:'送信', link:'#', btntype:'submit'}) %>

    <p>component/_c-hamburger</p>
    <%- include('./component/_c-hamburger') %>
    
    <p>common/_p-header-nav</p>
    <%- include('./common/_p-header-nav') %>

    <p>common/_footer</p>
    <%- include('./common/_footer') %>



  <a href="#"></a>
</div>
  </body>
</html>
