<%# ノーマルボタン %>
<% if( btntype == 'normal' ) { %>
  <a href="<%= link %>" class="c-btn c-btn--normal"><%= text %></a>
<%# PC表示で小さい白背景のボタン %>
<% } else if(btntype == 'pcSmall') { %>
  <a href="<%= link %>" class="c-btn c-btn--pc-small"><%= text %></a>
<%# 送信ボタン %>
<% } else if(btntype == 'submit') { %>
  <button class="c-btn c-btn--submit"><%= text %></button>
<% } %>